<!-- <h1>Hello {{username}}</h1> <h2>you have successfully logged in.</h2> -->
<button mat-raised-button color="primary" (click)="logout()">Logout</button>
<div class="row">
	<div class="column" *ngFor= "let p of lstproducts">
		<div class="card">
  			<h1>{{p.name}}</h1>
  			<img class="fiximage" [src]="p.image" alt="Denim Jeans" style="width:100%">
  			<p class="price">{{p.price}}</p>
 			<p>Category - {{p.category}}</p>
  			<p>{{p.description}}</p>
  			<p><button class="btn btn-primary" (click)="addtoCart(p)">Add to Cart</button></p>
  			<p><button>Move to wish list</button></p>
		</div>
	</div>
</div>



