<div class="container-fluid">
    <div class="formbody">
        <form class="border border-light p-5" style="width:100%;" [formGroup]="myForm">
            <p class="h4 mb-4">Register</p>
            <div class="form-group">
                <input type="text" class="form-control"  formControlName="email" matInput placeholder="Email" id="email" required>
                <span *ngIf="isValid('email')">Entered email is invalid</span>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" formControlName="username" matInput placeholder="Username" id="user">
                <span *ngIf="isValid('username')">Username is required</span>
            </div>
            <div class="form-group">
                <input type="password" class="form-control" formControlName="password" matInput placeholder="Password" id="pass">
                <span *ngIf="isValid('password')">Password is a mandatory field</span>
            </div>
            <div class="form-group">
                <input type="password" class="form-control" formControlName="cnfpass" matInput placeholder="Re-enter Password" id="cnfpass">
                <span *ngIf="isValid('cnfpass')">Password and confirm password should match</span>
            </div>
            <div style="margin-top:20px;">
                <button type="button" class="btn btn-primary btn-lg active" aria-pressed="true" (click)="register()">Register</button>
                <button style="margin-left: 7px" type="button" class="btn btn-danger btn-lg active" (click)="movetologin()">Login</button>
            </div>
           
            <div style="text-align: center;" class="h4 mb-4">                
                {{successMessage}}
            </div>
        </form>
    </div>
    <!-- <div style="padding-left: 4%;">
    <div style="padding-bottom: 40px;">
        <button type="button" class="btn btn-danger btn-lg active" (click)="movetologin()">Login</button>
    </div>
    </div> -->
</div>

