/* .row{
  border: 3px solid #fff;
  padding: 20px;
}

.columns{
  width: 50%;
  float: right;
  padding: 20px;
  border: 2px solid red;
} */

/* .wrapper {
  width: 70%;
  max-width: 960px;
  /* margin: 0 auto; */
/* }

.flex-container{
  display: flex;


}

.card{
  flex-shrink: 0;
  width: 30%;
  max-width: 100%;
} */
 
.img {
  padding: 20%;
}
