<div class="container-fluid">
    <div class="formbody">
        <form class="border border-light p-5" style="width:100%;" [formGroup]="loginForm">
            <div class="header h4 mb-4">Welcome</div>
            <div class="form-group">
                <input type="text" class="form-control" formControlName="email" matInput placeholder="Username">
                <span>Username cannot be blank</span>
            </div>
            <div class="form-group">
                <input type="password" class="form-control" formControlName="password" matInput placeholder="Password">
                <span>Password cannot be blank</span>
            </div>
            <div style="margin-top:40px;">
                <button type="button" class="btn btn-danger btn-lg active" (click)="login()">Sign In</button>
                <button style="margin-left: 7px" type="button" class="btn btn-primary btn-lg active" aria-pressed="true" (click)="movetoregister()">Register</button>
            </div>
        </form>
    </div>

    <!-- <div>
        <div style="width: 290px; padding: 20px;">
            <button type="button" class="btn btn-primary btn-lg active" aria-pressed="true" class="form-btn-hollow" (click)="movetoregister()">Register</button>
        </div>
    </div> -->
</div>
