<div class="section">
  <div class="container">
      <div class="row">
          <div class="col-md-9">
                <div class="form">
                  <div class="section-title">
                    <form #adminForm="ngForm" (ngSubmit)="onSubmit(adminForm)" enctype="multipart/form-data">
                    <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="adminService.selectedProduct._id">
                    <div class="form-group">
                      <input class="form-control" type="text" name="name" #name="ngModel" [(ngModel)]="adminService.selectedProduct.name" placeholder="Enter product name" required>
                    </div>
                    <div class="form-group">
                      <input class="form-control" type="file" name="name" #name="ngModel" [(ngModel)]="adminService.selectedProduct.imagePath" (change)="onSelectedFile($event)" placeholder="Add image" required>
                    <div *ngIf="imageData">
                      <img [src]="imageData" [alt]="form.value.name">
                    </div>
                  </div>
                    <div class="form-group">
                      <input class="form-control" type="text" name="price" #name="ngModel" [(ngModel)]="adminService.selectedProduct.price" placeholder="Enter price" required>
                    </div>
                    <div class="form-group">
                      <input class="form-control" type="text" name="category" #name="ngModel" [(ngModel)]="adminService.selectedProduct.category" placeholder="Enter Category" required>
                    </div>
                    <div class="form-group">
                      <input class="form-control" type="text" name="description" #name="ngModel" [(ngModel)]="adminService.selectedProduct.description" placeholder="Enter description" required>
                    </div>
                    <div class="input-field col s12">
                      <button class="btn btn btn-danger" type="button" (click)="resetForm(adminForm)">Reset</button>
                      <button style="margin-left: 7px" class="btn btn btn-primary" type="submit" [disabled]="!adminForm.valid">Submit</button>
                    </div>
                    </form>
                  </div>
                </div>
          </div>   
            <div class="ng-container">
              <div class="container">
                <div class="card-table">
                <div class="cart-product">
                <table class="table table-responsive">
                  <thead>
                    <tr class="topic">
                      <th>Name</th>
                      <th>Image</th>
                      <th>Price</th>
                      <th>Category</th>
                      <th>Description</th>
                    </tr>
                  </thead>
                  <tr *ngFor="let prod of adminService.products">
                    <td>{{prod.name}}</td>
                    <td>{{prod.imagePath}} alt=""></td>
                    <td>{{prod.price}}</td>
                    <td>{{prod.category}}</td>
                    <td>{{prod.description}}</td>

                    <td>
                      <button> 
                        <a class="action-btn" (click)="onEdit(prod)">
                            <i class="material-icons">edit</i>
                        </a>
                      </button> 
                    </td>
                      <td>
                        <button> 
                        <a class="action-btn" (click)="onDelete(prod._id,adminForm)">
                          <i class="material-icons">delete</i>
                        </a>
                        </button>
                      </td>
                      <td>

                      <button> 
                        <a class="action-btn">
                          <div class="up">
                          <i class="upload">Upload</i>
                        </div>
                        </a>
                      </button> 
                      
                      <!-- <div id="fileSelector">
                        <input type="file" name="fileUplaod" id="fileUpload"
                        multiple ng2FileSelect [uploader]="uploader">
                      </div>

                      
                      <div class="row uploadList" *ngFor="let item of uploader.queue">
                        <div class="col-sm-4">{{item.file.name}}</div>
                      <div class="col-sm-4">
                        <button type="button" class="btn btn-dark" (click)="item.upload()">Upload</button>
                        <button type="button" class="btn btn-danger" (click)="item.remove()">Cancel</button>
                      </div>
                    </div> -->







                      </td>
                  </tr>
                </table>
              </div>
              </div>
              </div> 
            </div>


          
      </div>
  </div>
</div>






