<!DOCTYPE html>
<html>
    <head>
        <title>Express Assignments</title>
    </head>
    <body>
        <form method="POST" action="/profile">
            <label for="name">Enter Your name</label>
            <input type="text" name="name" value="<% = qs.person %>" />
        </form>
    </body>
</html>